name: lint

on: [push]

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install radon black flake8 flake8-polyfill

      - name: Run linters
        uses: rbialon/flake8-annotations@v1
      - name: Lint with flake8
        run: |
          flake8 . --count --ignore=E501,W503,F811,E231 --show-source --exit-zero --radon-max-cc=8 --max-line-length=90 --statistics
      - name: Lint with black
        run: |
          black . -l 90 --check
