name: pytest_and_coverage

on: [push]

jobs:
  run-linters:
    name: Run tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12
        env:
          DB_USER: root
          DB_PASSWORD: secret
          DB_NAME: simple_bank
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          cd server
          poetry export -f requirements.txt --output requirements.txt
          pip install -r requirements.txt
      - name: pytest
        run: |
          coverage run -m pytest
      - name: Coverage report
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ github.token }}
